body {
    background-color: whitesmoke;
}

h1 {
    color: blueviolet;
}

h2 {
    color: teal;
}

h3 {
    color: tomato;
}

h4 {
    color: goldenrod
}

h5 {
    color: lightblue
}

h6 {
    color: darkred
}